@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&family=Share+Tech&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
  /* background-color: #040b11; */
  background: url("./assets/bg.jpeg");
  /* opacity: 0.5; */
  color: white;
  overflow: hidden;
}

.mainSquare {
  position: relative;
}

.mainSquare::before {
  content: "";
  position: absolute;
  height: 2vh;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #000000;
  transform: translate(0, -50%);
  top: 50%;
}

.mainSquare::after {
  content: "";
  position: absolute;
  height: 2vh;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: #000000;
  transform: translate(0, -50%);
  right: 0;
  top: 50%;
}

.square {
  padding: 3rem 6.5rem;
  border-radius: 20px;
  background-color: #0000004e;
  /* box-shadow: 0px 0px 20px 6px #093728 inset; */
}

.upper {
  border-bottom: 2px solid rgba(50, 50, 50);
}

.countdown_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 3rem; */
}

#ms,
#hour,
#min,
#sec {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-family: "Share Tech", sans-serif;
  color: rgb(255, 255, 255);
  letter-spacing: .2rem;
  font-weight: bold;
}

.time {
  margin: auto;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
  font-size: 3rem;
  margin-top: 1rem;
  font-family: "Bakbak One", sans-serif;
  font-family: "Share Tech", sans-serif;
  text-transform: uppercase;
  color: white;
}

.timeUp {
  font-size: 7rem;
  text-transform: uppercase;
  font-family: "Bakbak One", sans-serif;
  letter-spacing: .5rem;
  text-align: center;
  margin-top: 15rem;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}

.countdown_timer {
  font-size: 5rem;
  text-align: center;
  padding: 0 5rem;
  letter-spacing: .2rem;
  margin-top: 6rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  font-family: "Bakbak One", sans-serif;
}

.circle {
  position: absolute;
  border-radius: 50%;
  background: radial-gradient(50% 50% at 50% 50%, rgba(73, 113, 255, 0.4) 0%, rgba(73, 113, 255, 0) 100%);
}

.top-left {
  width: 40%;
  height: 80%;
  clip-path: polygon(0 0, right 1em 0, 100% 50%, right 1em 100%, 0 100%, 0 0);
  top: -15%;
  left: -15%;
}

.top-right {
  width: 40%;
  height: 80%;
  top: 0;
  right: -15%;
  transform: translateY(-50%);
}
